:root {
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
  --blue:lightblue;
}

body {  padding-top: 1px; }
 		[class*="col-"] {  
 			background-color: lightblue;  
 			border: 2px solid black;  
 			border-radius: 6px;  
 			line-height: 40px;  
 			text-align: center; }


/* ========= Footer ======== */
footer {
  background-color: var(--black);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--white);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--blue);
}

.footer-center div {
  color: var(--white);;
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .mine{
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .mine{
    text-align: right;
  }
}

